*.pt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/
